[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = "Ericsson Hackathon "
[access "refs/*"]
	owner = group user/subbiahs84
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/subbiahs84
	label-Verified = -1..+1 group user/subbiahs84
	push = group user/subbiahs84
	read = group user/subbiahs84
	rebase = group user/subbiahs84
	removeReviewer = group user/subbiahs84
	submit = group user/subbiahs84
[access "refs/heads/*"]
	create = group user/subbiahs84
	push = +force group user/subbiahs84
	pushMerge = group user/subbiahs84
	read = group user/subbiahs84
[access "refs/tags/*"]
	push = group user/subbiahs84
	push = +force group user/subbiahs84
